<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trabalhofinal">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabalhoFinal"
        tools:targetApi="31">
        <activity
            android:name=".ListagemCarrosActivity"
            android:exported="false" />
        <activity
            android:name=".ListaComprasActivity"
            android:exported="false" />
        <activity
            android:name=".VendedorActivity"
            android:exported="false" />
        <activity
            android:name=".CompradorActivity"
            android:exported="true" />
        <activity
            android:name=".CompradorVendedorActivity"
            android:exported="false" />
        <activity
            android:name=".CarrosActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>